.navbar {
	min-height: 68px !important;
	background-color: #FAF8FF;
	border-bottom: 2px solid #e3f2fd;
}

.navbar .active {
	color: #004ccd !important;
}

.bi, .bi-gear {
	font-size: 1.2em;
	color: #004ccd;
	margin-left: 6px;
}