#transaction {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
#money_and_date {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 20px;
}

#money_and_date input[type=text] {

}

#money_and_date input[type=number] {
}


@media only screen and (min-width: 600px) {
	#transaction form {
		width: 428px;
	}
	#transaction form input {
		height: 52px;
	}
}
